<%- include('../partials/layout/head.ejs', { title: 'Home' }) %>
<%- include('../partials/layout/header.ejs') %>

<main>
  <h1>Welcome to the home page</h1>
</main>

<%- include('../partials/layout/footer.ejs') %>
<%- include('../partials/layout/foot.ejs') %>
